<!DOCTYPE html>
<html>
  <head>
    <title>Ticker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= tag.div do %>
      <%= tag.section class: 'root' do %>
        <%= tag.header class: 'shadow-small' do %>
          <%= tag.div class: 'container border-box clearfix px3' do %>
            <%= tag.div class: 'flex flex-justify-content' do %>
              <%= tag.div do %>
                <%= link_to root_path, class: 'logo block border-box left relative z1 bg-clip-content logo fill-orange bg-light-orange' do %>
                  <%= tag.svg class: 'align-middle', viewBox: '0 0 5 5', width: 28, height: 28 do %>
                    <%= tag.title 'Ticker home' %>
                    <%= tag.path d: 'M0,0v5h5V0z M1,1h3v3H2V3H1z' %>
                  <% end %>
                <% end %>
                <%= link_to root_path, class: 'h5 align-middle inline-block no-underline-on-hover black blue-on-hover logo-text', title: 'Ticker home' do %>
                  <%= tag.p class: 'mb0 mt0 align-middle sm-show nowrap' do %>
                    <%= tag.b 'Ticker' %> App
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <%= yield %>
      <% end %>
    <% end %>
  </body>
</html>
