<!DOCTYPE html>
<html>
  <head>
    <title>Ticker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= tag.div do %>
      <%= tag.section class: 'root' do %>
        <%= tag.header class: 'shadow-small' do %>
          <%= tag.div class: 'container border-box clearfix px3' do %>
            <%= tag.div class: 'flex flex-justify-content' do %>
              <%= tag.div class: 'logo-container' %>
            <% end %>
          <% end %>
        <% end %>

        <%= yield %>
      <% end %>
    <% end %>
  </body>
</html>

<%= javascript_pack_tag 'logo' %>
