<!DOCTYPE html>
<html>
  <head>
    <title>Ticker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src=https://cdn.ravenjs.com/3.24.0/raven.min.js crossorigin=anonymous></script>

    <script>
       Raven.config('https://0ea1fe426ee14a15aac891701cd5d422@sentry.io/1260537', {
         release: '0-0-0',
         environment: 'development-test',
       }).install()
   </script>
  </head>

  <body>
    <%= tag.div do %>
      <%= tag.section class: 'root' do %>
        <%= tag.header class: 'shadow-small' do %>
          <%= tag.div class: 'large-container border-box clearfix px3' do %>
            <%= tag.div class: 'flex flex-justify-content' do %>
              <%= tag.div do %>
                <%= tag.span class: 'logo-container', data: { height: 28, width: 28 } %>
                <%= link_to root_path, class: 'h5 align-middle inline-block no-underline-on-hover black blue-on-hover logo-text', title: 'Ticker home' do %>
                  <%= tag.p class: 'mb0 mt0 align-middle sm-show nowrap' do %>
                    <%= tag.b 'Ticker' %>
                    <%= tag.span 'Beta', class: 'h6' %>
                  <% end %>
                <% end %>
              <% end %>

              <%= tag.div do %>
                <% if current_account %>
                  <%= link_to session_path, method: :delete, class: 'mb0 nowrap black bold blue-on-hover border-box no-underline-on-hover nav-btn--account js-account-button' do %>
                    <%= tag.div do %>
                      <%= tag.p 'Log out', class: 'h5 align-middle inline-block no-underline-on-hover black blue-on-hover mt0', style: 'margin-top: 20px;', title: "Log out" %>
                    <% end %>
                  <% end %>
                <% end %>

                <% unless current_account %>
                  <%= link_to new_session_path, class: 'mb0 nowrap black bold blue-on-hover border-box no-underline-on-hover nav-btn--account js-account-button' do %>
                    <%= tag.div do %>
                      <%= tag.p 'Log in', class: 'h5 align-middle inline-block no-underline-on-hover black blue-on-hover mt0', style: 'margin-top: 20px;' %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <%= yield %>
      <% end %>
    <% end %>

    <%= render partial: 'shared/intercom' %>
  </body>
</html>

<%= javascript_pack_tag 'logo' %>
